<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="buttons">
  <form method="get" action="/sessions/new">
    <button type="submit" class="log-in-button">Login</button> 
  </form>
  
  <br>
  <br>

  <form method="get" action="/users/new">
    <button type="submit" class="sign-out-button">Sign-up</button>
  </form>

</div>

