<div class="container">
  <form method="get" action="/sessions/new">
    <label for="login">Already a ginstagram user? Click here:</label>
    <input type="submit" class="submitbtn" name="login" value="Log In">
  </form>
  <br>

  <form method="get" action="/users/new">
    <label for="signup">Fanatical about gin and want to join? Click here:</label>
    <input type="submit" class="submitbtn" name="signup" value="Sign Up">
  </form>

</div>

