<form id="new-post-form" action="/posts" method="post" enctype="multipart/form-data">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" required>
  <label for="image">Image: </label>
  <input id="image" type="file" name="image" accept=".png, .jpg, .jpeg, .webp">
  <input type="submit" value="Submit">
</form>
